* {
    padding: 0;
    margin: 0;
    z-index: 0;
}

body {
    z-index: -3;
}

#page {
    width: 100vw;
    height: 100vh;
    background-color: cyan;
}

.cloud {
    border-radius: 50%;
    background-color: white;
    filter: blur(30px);
    position: absolute;
}

#sun {
    width: 20vh;
    height: 20vh;
    position: absolute;
    border-radius: 50%;
    top: 2%;
    left: 2%;
    background-color: yellow;
    filter: blur(3px);
}

#cloud1 {
    width: 15vh;
    height: 15vh;
    position: absolute;
    top: 10%;
    left: 7%;
}

#cloud2 {
    width: 20vh;
    height: 20vh;
    position: absolute;
    top: 10%;
    left: 1%;
}

#cloud3 {
    width: 15vh;
    height: 15vh;
    position: absolute;
    top: 13%;
    left: 10%;
}

#cloud4 {
    width: 11vh;
    height: 11vh;
    position: absolute;
    top: 14%;
    left: 7%;
}

#main {
    width: 100%;
    height: 45vh;
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#weatherDetails {
    width: 95%;
    height: 100%;
    border: 1px solid black;
    box-shadow: inset 0 0 6px black;
    border-radius: 25px;
}

#bottom {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

#otherDays {
    width: 67%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    box-shadow: inset 0 0 6px black;
    border-radius: 25px;
}

.day {
    width: 12%;
    height: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    border: 1px solid black;
    box-shadow: inset 0 0 6px black;
    border-radius: 25px;
}

.day:hover {
    cursor: pointer;
}

.day > h1 {
    padding-top: 10%;
}

.day > h2 {
    padding: 5% 0;
}

.day > i {
    font-size: 100px;
    padding-bottom: 10%;
}

.details {
    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1vh black dashed;
}

.symbol {
    width: 85%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

#otherDetails {
    width: 27%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid black;
    box-shadow: inset 0 0 6px black;
    border-radius: 25px;
}

.set {
    width: 90%;
    height: 90%;
    margin: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube {
    width: 100%;
    height: 100%;
    margin: 1vh;
    border: 1px solid black;
    box-shadow: inset 0 0 6px black;
    border-radius: 25px;
}

